@import "../../../utilities/variables.scss";

.footer-design{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    margin-top: 10rem;
    margin-bottom: 5rem;
    .box{
        width: 25%;
        display: flex;
        flex-direction: column;
        &.center{
            align-items: center;
        }
        &.socials{
            width: 15%;
        }
        .logo{
            font-size: 32px;
            font-weight: 300;
        }
        .text{
            margin-bottom: 1rem;
            font-size: 14px;
            font-weight: 200;
        }
        .hour-box{
            display: flex;
            align-items: center;
            gap: .5rem;
            font-size: 14px;
            font-weight: 200;
            margin-bottom: .3rem;
        }
        h3{
            font-size: 28px;
            font-weight: 300;
            line-height: 3.2rem;
        }
        .link{
            margin: .3rem 0rem;
            transform: scale(1);
            font-size: 16px;
            font-weight: 200;
            transition: transform .5s ease;
            &:hover{
                transform: scale(1.1);
            }
        }
        .opening-hours-box{
            display: flex;
            flex-direction: column;
            font-size: 16px;
            font-weight: 200;
            margin-bottom: 1rem;

        }
        .socials-h3{
            text-align: right;
        }
        .socials-box{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            gap: 1rem;
            margin-top: 1rem;
        }
    }
}


@media  (max-width: 744px) {
    .footer-design{
        flex-direction: column;
        .box{
            width: 100%;
            align-items: center;
            margin-bottom: 2rem;
            &.socials{
                width: 100%;
                align-items: center;
                .socials-box{
                    flex-direction: row;
                }
            }
            .text{
                width: 50%;
                text-align: center;
            }
        }
    }
}