@import "../../../utilities/variables.scss";

.contact-design{
  display: flex;
  flex-direction: row-reverse;
  justify-content:center;
  align-items: center;
  padding: 2rem 0rem;
  width: 90%;
  .form{
        width: 100%;
        display: flex;
        gap: 2rem;
        justify-content: center;
        flex-wrap: wrap;
        padding: 2rem;
        .select-container{
            width: 25%;
            border: 2px solid #353535;
            padding: .5rem;
            padding-left: 1.5rem;
            color-scheme: dark; 
            display: flex;
            align-items: center;
            justify-content: center;
            option{
                background-color: black;
            }
            .sub-container{
                all: unset;
                padding: .5rem;
                width: 100%;
                font-size: 16px;
                font-weight: 200;
            }
        }
        .more-information-contact{
            width: 90%;
            margin: 0 auto;
            display: flex;
            justify-content: flex-end;
            gap: 5rem;
        }
        .hide{
            display: none;
        }
        .error{
            border: 1px solid #8a1515;
            width: 50%;
            margin: 0 auto;
            padding: 1rem;
            text-align: center;
            color: #ca2121;
        }
        .button{
            all: unset;
            padding: .5rem 2rem;
            border: 2px solid #353535;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            cursor: pointer;
        }
    }
}

@media  (max-width: 744px) {
    .contact-design{
        .form{
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            .select-container{
                width: 60%;
            }
            .more-information-contact{
               flex-direction: column;
               justify-content: center;
               align-items: center;
               width: 100%;
               gap: 2rem;
                .select-container{
                    width: 60%;
                }
            }

        }
    }
}
@media  (max-width: 390px) {
    .contact-design{
        .form{
            .select-container{
                width: 90%;
            }
            .more-information-contact{
                .select-container{
                    width: 90%;
                }
            }
        }
    }
}