@import "../../utilities/variables.scss";

.menu-design{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 15rem;
    h1{
        font-size: 52px;
        font-weight: 700;
        text-transform: uppercase;
        text-shadow: 0 0 5px #f0f40b, 0 0 10px #f0f40b, 0 0 20px #f0f40b, 0 0 40px #f0f40b, 0 0 80px #f0f40b;
    }
}

@media (max-width:744px){
    .menu-design{
        h1{
            font-size: 32px;
            text-align: center;
            width: 90%;
            margin: 0 auto;
        }
    }
}