.card-design{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    figure {
        width: 350px;
        height: 450px;
        aspect-ratio: 8 / 5;
        --bg: hsl(220 10% calc(10% - (var(--hover) * 10%)));
        --accent: hsla(0, 2%, 90%, 0.534);
        transition: background 0.2s;
        background:
          radial-gradient(circle at top left, var(--accent), transparent 75%),
          var(--bg);
        margin: 0;
        position: relative;
        overflow: hidden;
        border-radius: 1.5rem;
      }
      
      figure:after {
        content: "";
        position: absolute;
        width: 20%;
        aspect-ratio: 1;
        border-radius: 50%;
        bottom: 0%;
        left: 10%;
        background: linear-gradient(-65deg, var(--bg) 50%, var(--accent) 50%);
        filter: blur(25px);
        transform:
          translateX(calc(var(--hover) * 15%))
          scale(calc(1 + (var(--hover) * 0.2)));
        transition: transform 0.2s, background 0.2s;
      }
      .title{
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 5%;
        text-align: center;
        font-size: 32px;
      }
      .img {
        position: absolute;
        left: 10%;
        bottom: 5%;
        width: 80%;
        height: 80%;
        transform:
          translateX(calc(var(--hover) * -15%))
          scale(calc(1 + (var(--hover) * 0.2)));
        transition: transform 0.2s;
      }
      .text{
        opacity: 0;
        position: absolute;
        right: 5%;
        top: 50%;
        width: 50%;
        font-size: 14px;
        font-weight: 100;
        transition: opacity .5s ease ;
        line-height: 1rem;
        text-align: center;
        background-color: rgb(0, 0, 0);
        padding: .5rem;
      }
      
      article {
        --hover: 0;
      }
      
      article:hover {
        --hover: 1;
        figure{
            .text{
                opacity: 1;
            }
        }
      }
}