@import "../../../utilities/variables.scss";

.navbar{
  width: 90%;
  padding: 1rem 0rem;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: 2rem;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo{
    width: 200px;
    margin-left: 1rem;
    font-size: 52px;
    font-weight: 400;
    margin-right: 10%;
  }
  .navbar-list{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    font-size: 20px;
    font-weight: 400;
  }
  .language-switcher{
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .socials{
    display: flex;
    gap: .5rem;
  }
  .navbar-call-to-action{
    font-size: 20px;
    font-weight: 500;
    animation: glow 1s infinite alternate;
  }
}


@media screen and (max-width: '767px') {
  .navbar{
    padding: .5rem 0rem;
    border-bottom: none;
    .menu-action{
      margin-right: 1rem;
      width: 100%;
      display: flex; 
      flex-direction: column;
      align-items: flex-end;
      .burger-menu-icon{
        margin-right: .5rem;
      }
      .mobile-navbar-box{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .list-item{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: right;
          padding: .5rem 0rem;
          margin-right: 2rem;
          .item{
            border-bottom: 1px solid $black;
          }
        }
      }
    }
  }
}


@keyframes glow {
  0% {
      text-shadow: none;
  }
  100% {
      text-shadow: 
          0 0 5px rgb(240, 244, 11),
          0 0 10px #f0f40b,
          0 0 20px #f0f40b,
          0 0 40px #f0f40b,
          0 0 80px #f0f40b;
  }
}